@model GestionContacts2.Data.Contact
@{
    ViewBag.Title = "AjouterContact";
}
@if (TempData["SuccessMessage"] != null)
{
    <div style="padding:10px; background-color:#d4edda; color:#155724; border:1px solid #c3e6cb; border-radius:4px; margin-bottom:10px;">
        @TempData["SuccessMessage"]
    </div>
}

<h2>Ajouter un Contact</h2>

@using (Html.BeginForm("AjouterContact", "Contact", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div class="form-group mb-3">
        <label>Nom :</label>
        @Html.TextBoxFor(model => model.Nom, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nom)
    </div>

    <div class="form-group mb-3">
        <label>Prénom :</label>
        @Html.TextBoxFor(model => model.Prenom, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Prenom)
    </div>

    <div class="form-group mb-3">
        <label>Email :</label>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="form-group mb-3">
        <label>Numéro de téléphone :</label>
        @Html.TextBoxFor(model => model.NumeroTel, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NumeroTel)
    </div>

    <div class="form-group mb-3">
        <label>Adresse :</label>
        @Html.TextBoxFor(model => model.Adresse, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Adresse)
    </div>

    <div class="form-group mb-3">
        <label>Entreprise :</label>
        @Html.TextBoxFor(model => model.Entreprise, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Entreprise)
    </div>

    <div class="form-group mb-3">
        <label>Notes personnelles :</label>
        @Html.TextBoxFor(model => model.NotesPersonnelles, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NotesPersonnelles)
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
}

