
@{
    ViewBag.Title = "DetailsContact";
}

<h2>Details du Contact</h2>

<div>
    <h3>@Model.Nom @Model.Prenom</h3>
    <p>Email: @Model.Email</p>
    <p>Numéro de téléphone: @Model.NumeroTel</p>
    <p>Adresse: @Model.Adresse</p>
    <p>Entreprise: @Model.Entreprise</p>
    <p>Notes: @Model.NotesPersonnelles</p>
    <p>Date de Creation: @Model.DateCreation</p>
    <p>Date de Modification: @Model.DateModification</p>
</div>



